.bankBorder{
    width: 430px; 
    /* border: 2px solid; */
    /* border-image:linear-gradient(to right, #00ccff, #08cded,#15ced1, #00d4cd, #00d4b5, #0ed4aa, #20d39d, #31d28f)1; */
    margin-right: 400px;
    margin-bottom: 30px;
    margin-top: 8px;
    box-shadow: 0px 0px 20px 4px rgba(0,0,0,0.8);
    animation: fadeLeft 2s ;
}
@keyframes fadeLeft {
    from{
        opacity: 0;
        transform: translate3d(-30px,0,0)
    }
    to{
        opacity: 1;
    }
    
}
.title{
    height: 170px;
}

p{
    margin-bottom: 0px;
    font-size: 36px;
    color: black;
    font-family: Assistant;
    font-weight: 900;
  }

.underLine{
    background-image: linear-gradient(to right, #00ccff, #08cded,#15ced1, #00d4cd, #00d4b5, #0ed4aa, #20d39d, #31d28f);
    width: 100px;
    height: 2px;
    margin-right: 170px;
} 
/* .img{
    height: 280px;
    width: 100%;
} */
/* .title{
    height: 180px;
    width: 100%;
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
} */
/* .icn{
    margin-top: 5px;
    margin-right: 50%;
    margin-bottom: 0px;
    height: 100px;
    width: 100;
} */
/* .pas{
    background-image: linear-gradient(to right, #00ccff, #08cded,#15ced1, #00d4cd, #00d4b5, #0ed4aa, #20d39d, #31d28f);
    height: 5px;
    width: 100px;
    margin-right: 50%;
} */

.bank{
    background-color: whitesmoke;
    height: 450px;
    margin-top: 10px;
    font-size: xx-large;
    font-family: Arial, Helvetica, sans-serif;
}
/* input{
    margin-bottom: 25px;
    margin-right: 45%;
    float: right;
    height: 45px;
    width: 220px;
    background-color: whitesmoke;
    border-image:linear-gradient(to right, #00ccff, #08cded,#15ced1, #00d4cd, #00d4b5, #0ed4aa, #20d39d, #31d28f)1;
    font-size: large;
} */

input{
    margin-bottom: 25px;
    height: 45px;
    width: 220px;
    background-color: whitesmoke;
    border-image:linear-gradient(to right, #00ccff, #08cded,#15ced1, #00d4cd, #00d4b5, #0ed4aa, #20d39d, #31d28f)1;
    font-size: large;
}
