<div><img src='../assets/img/Asset66.png' width="100%"></div>

<div class="signIn">
    <form #myForm="ngForm" class="form-group">
      <div class="container">
        <div>
            <img src='../assets/icon/Asset9.png' height="32px" style="float: right; margin-left: 8px;">
            <h1>פרטים אישיים</h1>
      
        </div>
        
        <label for="Name">שם משתמש:</label><br>
        <input class="form-control" type="text" placeholder="הכנס שם משתמש" id="Name" name="Name" >
        <br>
        <label for="Password">סיסמא:</label><br>
        <input type="password" placeholder="הכנס סיסמא" id="Password" name="Password" >
      </div>
      <img id="img1" src='../assets/icon/Asset49.png' >
    </form>
  </div>
  
  <div class="signUp">
    <form #myForm="ngForm" class="form-group" >
      <div class="container">
        <h1>הרשם לאתר</h1>
        <label for="UserName">שם משתמש:</label><br>
        <input class="form-control" type="text" placeholder="הכנס שם משתמש" id="UserName" name="UserName" >
    
        <br>