<html lang="en" style="direction: rtl; text-align: center;">
<div *ngIf="FindParkingService.closestParking.length>0">
<div class="container">
      <agm-map style="width: 1010px; height: 400px;"
       [latitude]='lat' 
       [longitude]='long'
       [zoom]='zoom'
       >
        
        <agm-marker 
            *ngFor="let marker of FindParkingService.closestParking" 
            [latitude]="marker.Lat!" 
              [longitude]="marker.Lan!">    
                  <!-- <agm-info-window #infoWindow>
                      {{ marker.label }}
                </agm-info-window> -->
        </agm-marker>
        
    </agm-map>
  
</div>


<div class="title">
    <p>החניות הקרובות ביותר</p>
    <div class="underLine"></div>
</div>

<div style="background-color: #f2f2f2;">
    <table style="font-size: 30px; margin-top: 20px; margin-right: 0px; width: 1200px;"  >
          <tr *ngFor="let item of FindParkingService.closestParking">
            <th style="text-align: right; width: 490px; padding-right: 30px;"> {{item.Address}}</th>
            <!-- <th style="width: 300px;"><img *ngIf="item.IMG1" src="./../../assets/gallery/{{item.IMG1}}" style="background-image: none;margin-left: 25px;" height="50px">
            <img *ngIf="item.IMG2" src="./../../assets/gallery/{{item.IMG2}}" style="background-image: none; margin-left: 25px;" height="50px">
            <img *ngIf="item.IMG3" src="./../../assets/gallery/{{item.IMG3}}" style="background-image: none;margin-left: 25px;  " height="50px"></th>
         
            <th style="text-align: left; padding-left: 20px;"><a routerLink="/nav/editParkingDetails/{{item.Id}}"><img src="../assets/icon/Asset14.png" width="170px"></a></th>
            <th style="text-align: left; padding-left: 20px;"><a routerLink="/nav/editParkingDetails/{{item.Id}}"><img src="../assets/icon/Asset33.png" width="170px"></a></th>
           <br>      -->
           <br>
      </table>

</div>
</div>


<div *ngIf="FindParkingService.closestParking.length==0" style="height: 200px;width: 300px; background-color: aquamarine;"></div>


<app-footer1></app-footer1>
</html>

<router-outlet></router-outlet>