<div class="loginBorder">
<div class="signIn">
  <form #myForm="ngForm" class="form-group">
    <div class="container">
      <h1>התחבר לאתר</h1>
      <label for="Name">שם משתמש:</label><br>
      <input class="form-control" type="text" placeholder="הכנס שם משתמש" id="Name" name="Name" [(ngModel)]="existUser.Name" required #Name="ngModel">
      <br>
      <label for="Password">סיסמא:</label><br>
      <input type="password" placeholder="הכנס סיסמא" id="Password" name="Password" [(ngModel)]="existUser.Password" required #Password="ngModel">
    </div>
    <img id="img1" src='../assets/icon/Asset49.png' data-dismiss="modal" (click)="getUser()">
  </form>
</div>

<div class="signUp">
  <form #myForm="ngForm" class="form-group" >
    <div class="container">
      <h1>הרשם לאתר</h1>
      <label for="UserName">שם משתמש:</label><br>
      <input class="form-control" type="text" placeholder="הכנס שם משתמש" id="UserName" name="UserName"  [(ngModel)]="newUser.Name" required #UserName="ngModel">
      <div class="alert-danger" *ngIf="UserName.invalid && ( UserName.dirty || UserName.touched)">
        <p *ngIf="UserName.errors?.['required']">שדה חובה</p>   
      </div>
      <br>



      <label for="phone">טלפון:</label><br>
      <input type="tel" placeholder="הכנס טלפון" id="phone" name="phone" pattern="05?[0-9]-?[0-9]{7}" max="10" [(ngModel)]="newUser.Phone" required #myPhone="ngModel">
      <div class="alert-danger" *ngIf="myPhone.invalid && (myPhone.dirty || myPhone.touched)">  
        <p *ngIf="myPhone.errors?.['required']" >שדה חובה</p>
        <p *ngIf="myPhone.errors?.['pattern']">מספר טלפון לא תקין</p>
    </div><br>
      <br>

      <label for="psw">סיסמא:</label><br>
        <input type="password" placeholder="הכנס סיסמא" id="psw" name="psw" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{6,22}" [(ngModel)]="newUser.Password" required maxlength="20" #myPassword="ngModel">
        <div class="alert-danger" *ngIf="myPassword.invalid && (myPassword.dirty || myPassword.touched)">  
          <p *ngIf="myPassword.errors?.['required']">שדה חובה</p> 
          <p *ngIf="myPassword.errors?.['pattern']">הסיסמא חייבת להכיל לפחות אות קטנה אחת באנגלית, אות גדולה אחת באנגלית ומספר אחד. סה"כ 6-20 תווים</p>
        </div><br> 
        <br>

        <label for="psw-repeat">אישור סיסמא:</label><br>
        <input type="password" placeholder="אישור סיסמא" name="psw-repeat" [(ngModel)]="repeatPassword" required  minlength="4" maxlength="20" #myPasswordRepeat="ngModel">
        <div class="alert-danger" *ngIf="myPasswordRepeat.invalid && (myPasswordRepeat.dirty || myPasswordRepeat.touched)">  
          <p *ngIf="myPasswordRepeat.errors?.['required']">שדה חובה</p> 
          <p *ngIf="myPasswordRepeat.errors?.['myPasswordRepeat=myPassword']">הסיסמה אינה תואמת</p> 
        </div><br>
       <br>

    </div>
    <img id="img2" src='../assets/icon/Asset48.png' data-dismiss="modal" (click)="addUser()" >

  </form>
</div>
</div>
<!-- <app-footer1></app-footer1> -->
<router-outlet></router-outlet>

