<html lang="en" style="direction: rtl; text-align: center;font-family: Assistant;">

<div style="width: 100%; background-color: #f2f2f2;">

    <div style="width: 100%;">
        <p>יצירת קשר</p>
    </div>
    <div class="container">
        <div class="d1">
            <label>
                <h1>יש לכם שאלות?</h1>
                <h3>אנחנו כאן בשבילכם<br>
                    נשמח לענות בכל פניה,<br>
                    הערה או בקשה.
                </h3>
            </label>
        </div>
        <div class="d2">
            <form action="https://formsubmit.co/your@email.com" method="POST">
                <label for="name">שם מלא:</label><br>
                <input type="text" name="name" required>
                <label for="email">כתובת מייל ליצירת קשר:</label><br>
                <input type="email" name="email" required>
                <label for="messages">הערות:</label><br>
                <textarea name="messages" required></textarea>

                <button type="submit">Send</button>
            </form>
        </div>
    </div>





</div>
<app-footer1></app-footer1>

</html>