<!DOCTYPE html>
<!-- <html lang="en" style="direction: rtl;"> -->
<html lang="en">


<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/css/bootstrap.min.css">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/js/bootstrap.bundle.min.js"></script>
  <link href='https://fonts.googleapis.com/css?family=Assistant' rel='stylesheet'>
</head>


<body>

  <div class="top"></div>

  <nav>
    <div>
      <ul>
        <!-- <li style="float:right;"><a routerLink="/nav/myhome" class="active">דף הבית</a></li> -->
        <li style="float:right;">
          <div><img src='../assets/icon/Asset51.png' height="36px"></div><a routerLink="/nav/myhome">דף הבית</a>
        </li>
        <li style="float:right;">
          <div><img src='../assets/icon/Asset50.png' height="36px"></div><a routerLink="/nav/contact">יצירת קשר</a>
        </li>
      </ul>
    </div>
    <div class="logo"><a href="#"><img src='../assets/img/logo.png'></a></div>

    <div class="dropdown">
      <ul>
        <li>
          <div><img src='../assets/icon/Asset9.png' height="36px"></div>
          <!-- <a id="ii" href="#" *ngIf="!UserService.isConnected">אזור אישי</a> -->
          <a id="ii">שלום {{UserService.userName}}</a>
          <ul>
            <li *ngIf="!UserService.isConnected"><a routerLink="/nav/login">התחבר</a></li>
            <li><a routerLink="/nav/payment">תשלום</a></li>
            <li><a routerLink="/nav/bankDetails">פרטי בנק</a></li>
            <li *ngIf="UserService.isConnected"><a routerLink="/nav/myParkingList">החניות שלי</a></li>
            <li *ngIf="!UserService.isConnected"><a routerLink="/nav/login">החניות שלי</a></li>
            <li *ngIf="UserService.isConnected"><a href="#">התנתק</a></li>

          </ul>
        </li>
      </ul>
    </div>
  </nav>
</body>

</html>
<router-outlet></router-outlet>