div{
    float: right;
    width: 100%;
}

.title{
    height: 100px;
}

p{
    padding-top: 20px;
    height: 60px;
    /* margin-top: 0px; */
    font-size: 36px;
    color: black;
    font-weight: 900;
    text-align: center;
  }

.underLine{
    background-image: linear-gradient(to right, #00ccff, #08cded,#15ced1, #00d4cd, #00d4b5, #0ed4aa, #20d39d, #31d28f);
    width: 100px;
    height: 2px;
    margin-right: 590px;
    margin-top: 3px;
} 
.content{
    background-image: linear-gradient(to right, #00ccff, #08cded,#15ced1, #00d4cd, #00d4b5, #0ed4aa, #20d39d, #31d28f);
    width: 100%;
    height: 705px;
    /* padding-right: 40px;
    padding-top: 40px; */
    padding: 55px;
}

.frm{
    background-color: white;
    height: 600px;
    width: 600px;
    padding-top: 30px;
    padding-right: 30px;
}

form label{
    color: black;
    font-weight: normal;
    font-size: 20px;
}

.inp1 {
    width: 400px;
    height: 36px;
    /* border: none; */
    border: black solid 1.5px;
}  

::placeholder{
    color: #808080;
    font-size: 18px;
}


#img2{
    width: 200px;
    margin-right: 535px;
    margin-top: 40px; 
    margin-bottom: 40px;
}

.gallery{
    background-color: white;
    margin-right: 20px;
    height: 600px;
    width: 500px;
    padding-top: 20px;
}

.container .checkmark:after {
    background: black;
}

.btn{
    margin-right: 220px;
    margin-bottom: 10px;
}

.file-input {
    display: none;
    border: none;
    height: 100px;    
  }

/* ================================= Gallery ================================= */
  /* The grid: Four equal columns that floats next to each other */
/* .column {
    float: right;
    width: 25%;
  } */
  #row{
      margin-right: 10px;
      width: fit-content;

  }
  #row div{
      width: min-content;
      margin-left: 5px;
  }
  /* Style the images inside the grid */
  #row div img {
    opacity: 0.8;
    cursor: pointer;
    /* margin-right: 10px; */
  }
  
  #row div img:hover {
    opacity: 1;
  }
  
  /* Clear floats after the columns */
  #row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* The expanding image container (positioning is needed to position the close button and the text) */
  .container {
    position: relative;
    /* display: none; */
  }
  
  /* Expanding image text */
  #imgtext {
    position: absolute;
    bottom: 15px;
    left: 15px;
    color: white;
    font-size: 20px;
  }
  
  /* Closable button inside the image */
  .closebtn {
    position: absolute;
    top: 10px;
    right: 15px;
    color: white;
    font-size: 35px;
    cursor: pointer;
  }
