<html lang="en" style="direction: rtl; font-family: Assistant; ">

<div><img src='../assets/img/Asset43.png' width="100%"></div>

<div class="title">
    <div>
        <p>{{myTitle}}</p>
    </div>
    <div class="underLine"></div>
</div>

<div class="content">
    <div class="frm">
        <form>
            <h1 style="font-weight: 900; font-size: 30px;">כתובת החניה:</h1><br>
            <!-- <input class="inp1" type="text" placeholder="עיר, רחוב, מספר בית..." name="Address"
                [(ngModel)]="newParking.Address"  required> -->
            <input class="inp1" name="Address" [(ngModel)]="newParking.Address"  required ngx-google-places-autocomplete  #placesRef="ngx-places" (onAddressChange)="handleAddressChange($event)"/>
            <br><br>
            <label>זמני השכרה:</label>
            <a routerLink="/nav/myCalender">
                <img src='../assets/icon/Asset19.png' width="30px" style="margin-right: 10px; margin-bottom: 10px;"></a>
            <br>
            <input class="inp1" type="number" placeholder="1" name="UserName" required>
            <br><br>
            <h1 style="font-weight: 900; font-size: 30px;">פרטי חניה:</h1><br>
            <label>שער אלקטרוני:</label>
            <input id="ElectronicGateTrue" style="margin-right: 10px;" type="radio" name="radio1"
                [(ngModel)]="newParking.ElectronicGate" [value]="true">
            <label for="ElectronicGateTrue"> כן</label>

            <input id="ElectronicGateFalse" style="margin-right: 10px;" type="radio" name="radio1"
                [(ngModel)]="newParking.ElectronicGate" [value]="false">
            <label for="ElectronicGateFalse"> לא</label>
            <br>

            <input id="indoorTrue" type="radio" name="radio2" [(ngModel)]="newParking.Indoor" [value]="true">
            <label for="indoorTrue"> מקורה</label>

            <input id="indoorFalse" style="margin-right: 10px;" type="radio" name="radio2"
                [(ngModel)]="newParking.Indoor" [value]="false">
            <label for="indoorFalse"> לא מקורה</label>
            <br>

            <input id="ShadyTrue" type="radio" name="radio3" [(ngModel)]="newParking.Shady" [value]="true">
            <label for="ShadyTrue"> צל</label>
            <input id="ShadyFalse" style="margin-right: 10px;" type="radio" name="radio3" [(ngModel)]="newParking.Shady"
                [value]="false">
            <label for="ShadyFalse"> ללא צל</label>

            <br>
            <!-- <label>מיועד ל:<br>
                <label> <input type="checkbox" name="checkbox1" [(ngModel)]="ch1"> רכב פרטי</label>
                <label> <input style="margin-right: 10px;" type="checkbox" name="checkbox2" [(ngModel)]="ch2">
                    מסחרי</label>
                <label> <input style="margin-right: 10px;" type="checkbox" name="checkbox3" [(ngModel)]="ch3"> אוטובוס
                </label>
                <label> <input style="margin-right: 10px;" type="checkbox" name="checkbox4" [(ngModel)]="ch4"> רכב משא
                    גדול</label>
            </label> -->
            <br>
            <h1 style="font-weight: 900; font-size: 30px;">הערות:</h1><br>
            <textarea name="messages" required></textarea><br>
            <label>זמן ביטול מראש:</label> <input style="margin-right: 10px; width: 100px; height: 24px;" type="number"
                placeholder="1" id="cancelTime" name="cancelTime">
        </form>
    </div>

    <div class="gallery">
        <input type="file" class="file-input" (change)="onFileSelected($event)" #fileUpload multiple>
        <div class="file-upload">
            {{""}}
            <button mat-mini-fab color="primary" class="btn" (click)="fileUpload.click()">
                <img src='../assets/icon/download.png' height="40px">
            </button>
        </div>
        <div id="row">
            <div>
                <img *ngIf="newParking.IMG1" src="./../../assets/gallery/{{newParking.IMG1}}" (click)="myFunction(newParking.IMG1);"
                    style="background-image: none;" height="100px">
            </div>
            <div >
                <img *ngIf="newParking.IMG2" src="./../../assets/gallery/{{newParking.IMG2}}" (click)="myFunction(newParking.IMG2);"
                    style="background-image: none;" height="100px">
            </div>
            <div >
                <img *ngIf="newParking.IMG3" src="./../../assets/gallery/{{newParking.IMG3}}" (click)="myFunction(newParking.IMG3);"
                    style="background-image: none;" height="100px">
            </div>
        </div>

        <!-- The expanding image container -->
        <div class="container">
            <!-- Close the image -->
            <!-- <span onclick="this.parentElement.style.display='none'" class="closebtn">&times;</span> -->

            <!-- Expanded image -->
            <img *ngIf="bigImage" id="expandedImg" style="height: 400px;width:min-content;" src="./../../assets/gallery/{{bigImage}}">

            <!-- Image text -->
            <div id="imgtext"></div>
        </div>
        <br>
    </div>
</div>

<div (click)="add()"><img id="img2" src='../assets/icon/Asset31.png'></div>

</html>
<app-footer1></app-footer1>
<router-outlet></router-outlet>