<!DOCTYPE html>
<html lang="en" style="direction: rtl;">
<router-outlet></router-outlet>
<!-- <div class="container">
  
  <h1>Angular Google Map Multiple Markers Example - ItSolutionStuff.com</h1>
  
    <agm-map style="width: 1010px; height: 300px;"
       [latitude]='lat' 
       [longitude]='long'
       [zoom]='zoom'
       >
        
        <agm-marker 
            *ngFor="let marker of markers" 
            [latitude]="marker.lat" 
              [longitude]="marker.lng">    
                  <agm-info-window #infoWindow>
                      {{ marker.label }}
                </agm-info-window>
        </agm-marker>
        
    </agm-map>
  
</div> -->