<html lang="en" style="direction: rtl; text-align: center;">

<div><img src='../assets/img/Asset34.png' width="100%"></div>

<div class="title">
    <div><p>ההשכרות שלי</p></div>
    <div class="underLine"></div>
</div>

<div id="tbl" style="background-color: #f2f2f2;">
    <table style="font-size: 30px; margin-top: 50px; margin-right: 0px; width: 1200px;"  >
          <tr *ngFor="let item of lUserParking">
            <th style="text-align: right; width: 490px; padding-right: 30px;"> {{item.Address}}</th>
            <th style="width: 700px;" ><img *ngIf="item.IMG1" src="../assets/icon/Asset14.png" style="background-image: none;margin-left: 80px;" width="170px">
            <img *ngIf="item.IMG2" src="../assets/icon/Asset21.png" style="background-image: none; margin-left: 80px;" width="170px">
            <img *ngIf="item.IMG3" src="../assets/icon/Asset20.png" style="background-image: none;margin-left: 80px; " width="50px"></th>
         
            <th><a><img src="../assets/icon/Asset58.png" (click)="deleteRent(item)" width="70px"></a></th>

           <br>     
           <br>

      </table>

</div>

<app-footer1></app-footer1>
</html>

<router-outlet></router-outlet>