<html lang="en" style="direction: rtl; text-align: center;">
    <div class="paymentBorder">
        <div><img src='../assets/img/Asset37.png' width="100%"></div>

    <div class="title">
        <div style="margin-top: 0px; padding-top: 10px;"><img src='../assets/icon/Asset27.png' width="70px"></div>
        <div>
            <p>ביצוע תשלום עבור השכרת חניה</p>
            <div class="underLine"></div>
        </div>
    </div>

    <div class="pay">
        <p style="font-size:28px; font-weight: 100;">פרטי האשראי שלי:</p>
        <input type="text" placeholder="שם בעל הכרטיס">
        <input type="text" placeholder="מספר כרטיס">
        <input type="month" placeholder="תוקף" style="color: #757575;">
        <input type="text" placeholder="CVV">
        <div><img src='../assets/icon/Asset26.png' style=" margin-top: 10px;" width="180"></div>
    </div>


    <router-outlet></router-outlet>
</div>
<app-footer1></app-footer1>

</html>