
form{
    padding-top: 30px;
    height: 450px;
    background-image: linear-gradient(to right, #00ccff, #08cded,#15ced1, #00d4cd, #00d4b5, #0ed4aa, #20d39d, #31d28f);
}
input{
    height: 45px;
    width: 220px;
    background-color: #e6e6e6;
    border: none;
    font-size: large;
    padding-right: 10px; 
    direction: rtl;
    margin-top: 15px;
}

.icn{
    width: 220px;
}
.icn img{
    width: 140px; 
    height: 46px; 
    margin-right: 40px;
    margin-top: 76px;
}
.div1{
    padding-top: 20px;
    width: 300px;
    float: right;
    font-size: x-large;
    font-family: Assistant;
}
.div1 img{
    height: 30px;
    margin-right: 20px;
    margin-left: 12px;
}
.row{
    float: right;
    width: 100%;
    margin-right: 1px;
}
.btnSearch {
    width: 240px;
    margin-right: 517px;
    margin-top: 50px;  
}

.line{
    height: 1.5px;
    width: 1080px; 
    background-color: white;
    float: right; 
    margin-top: 45px;
    margin-right: 50px;
    margin-bottom: 14px;
}

/* .searchBtn {
    display: none;
    border: none;
    height: 100px; 
    width: 100px;   
  } */


