<html lang="en" style="direction: rtl; text-align: center;">
<div><img src='../assets/img/Asset38.png' width="100%"></div>
<div class="content">
    <p>חניונט הוא מאגר המידע הגדול ביותר ברשת לגבי חיפוש חניה
        <br> בכל הארץ.
        <br>
        <br>בחיפוש קל ופשוט תוכלו למצוא כל חניון או מגרש חניה ולברר
        <br>את מיקומו, שעות הפעילות שלו ותעריפי החניה השונים.
    </p>
</div>
<div class="content2">
    <div class="d1">
        <p>איך זה עובד?</p>
        <div class="underLine"></div>
    </div>

    <div class="d2">
        <!-- <div><img src='../assets/icon/Asset12.png'></div> -->
        <div style="padding-left: 40px;">
            <img src='../assets/icon/Asset12.png'>
            <p>רושמים <br> מיקום מדויק</p>
        </div>
        <div>
            <img src='../assets/icon/Asset11.png'>
            <p>בוחרים תאריך<br> ושעה רצויה</p>
        </div>
        <div>
            <img src='../assets/icon/Asset10.png'>
            <p>המערכת מאתרת לכם <br>חניה קרובה ונוחה</p>
        </div>
    </div>

</div>
<div class="content3">
    <div>
        <img id="img1" src='../assets/icon/Asset2.png'>
        <p>מחפשים לשכור חניה?</p>
        <a routerLink="/nav/search"><img id="img3" src='../assets/icon/Asset47.png'></a>
    </div>
    <div style="background-color: #929292; height:200px; width: 2px; float: right; margin-top: 130px;"></div>
    <div>
        <img id="img2" src='../assets/icon/Asset1.png'>
        <p>לפרסום החניה שלכם</p>
        <!-- <a routerLink="/nav/login"><img id="img3" src='../assets/icon/Asset46.png'></a> -->
        <div id="btnDIV" *ngIf="UserService.isConnected"><a routerLink="/nav/myParkingList"><img id="img3" src='../assets/icon/Asset54.png'></a></div>
        <div id="btnDIV" *ngIf="!UserService.isConnected"><a routerLink="/nav/login"><img id="img3" src='../assets/icon/Asset46.png'></a></div>
    </div>
</div>

<app-footer1></app-footer1>

<router-outlet></router-outlet>

</html>